<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheet/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


<footer class="text-center text-lg-start bg-white text-muted foot">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block text">
            <span>Get connected with us on social networks:</span>
        </div>



        <div class="social-links">
            <a href="https://www.facebook.com/paulamedicalst" class="me-4 link-light text">
                <ion-icon class="me-3 em" name="logo-facebook"></ion-icon>
            </a>

            <a href="https://www.instagram.com/paula_medical/" class="me-4 link-light text">
                <ion-icon class="me-3 em" name="logo-instagram"></ion-icon>

            </a>


        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="text">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4 text">
                        <i class="fa fa-gem me-3 pmst">Paula Medical Supply & Trading</i>
                    </h6>
                    <p class="text-center">
                        Medicine and Medical Supplies Distributor in Region 8
                    </p>
                </div>
                <!-- Grid column -->



                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" data-toggle="modal" data-target="#exampleModalCenter" class="text-reset">FAQS</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset" data-toggle="modal" data-target="#exampleModal">Terms &
                            Condition</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p class="text"><ion-icon class="me-3 em" name="home-outline"></ion-icon> DR 1 RL Commercial Bldg.
                        Calanipawan Road
                        Tacloban City</p>
                    <p class="text">
                        <a class="email" data-bs-toggle="modal" data-bs-target="#contactModal"><ion-icon class="me-3 em"
                                name="mail-outline"></ion-icon>sales@paulamedicalsupplytrading.com</a>

                    </p>
                    <p class="text"><ion-icon class="me-3 em" name="call-outline"></ion-icon> +63 981 429 0778</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">FAQs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-md-start">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What payment methods do you accept?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>The paymen methods we accept are</strong> Gcash, Metrobank, PNB, and
                                    Landbank.<br><br>
                                    We also accept:<br><br>
                                    <ul>
                                        <li>Paymaya</li>
                                        <li>Debit & Credit Card</li>
                                        <li>Atom A</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How to invest?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <img src="images/invest.jpg" alt="investment" style="width: 400px;"
                                        class="investment-img">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How do I get in touch with customer support?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>You can send us an email,</strong> please visit our
                                    HOMEPAGE and click on the CONTACT US! button. This will take you to a form where you
                                    can fill out your information and send us a message.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Terms & Condition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-md-start">
                    <ul>
                        <li><strong>Payment terms:</strong>
                            <p>The conditions and timeframes agreed upon for payment of goods or services.</p>
                        </li>
                        <li><strong>Delivery terms:</strong>
                            <p>The conditions and timeframes agreed upon for the delivery of goods or services.</p>
                        </li>
                        <li><strong>Returns and refunds: </strong>
                            <p>The policy governing the return of goods or services by customers and the refund of any
                                payment made.</p>
                        </li>
                        <li><strong>Warranty or guarantee:</strong>
                            <p> A promise made by a seller or manufacturer to repair or replace a product if it is found
                                to be faulty within a specified time period.</p>
                        </li>
                        <li><strong>Limitation of liability: </strong>
                            <p> A statement that limits the liability of a business for any damages or losses suffered
                                by customers as a result of using their products or services.</p>
                        </li>
                        <li><strong>Privacy policy: </strong>
                            <p>A statement outlining how a business collects, uses, and protects the personal
                                information of its customers.
                            </p>
                        </li>
                        <li><strong>Intellectual property: </strong>
                            <p>The ownership rights over creations of the mind, such as inventions, designs, and
                                artistic works, including trademarks, patents, and copyrights.</p>
                        </li>
                        <p>It's important to carefully read and understand the terms and conditions before making a
                            purchase.</p>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/articles/send" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-4 cc" style="background-color: rgba(251, 251, 251, 0.06);">
        © 2023 Copyright:
        <a class="text-reset text-muted" href="https://www.facebook.com/rolandortizjr/">Roland Ortiz</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->