<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paula Medical</title>
    <link rel="stylesheet" href="/stylesheet/team.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Heebo&family=Kanit:ital,wght@1,200&family=Lato&family=Lora:wght@700&family=Montserrat:ital,wght@0,500;1,500&family=Noto+Sans+JP:wght@200&family=Raleway:ital,wght@1,500&family=Roboto+Mono&family=Signika+Negative:wght@500&family=Sofia+Sans+Condensed:wght@200&display=swap"
        rel="stylesheet">
</head>



<body>
    <%- include('../partials/navbar') %>

        <div class="main">


            <div class="container1">

                <div class="icon">
                    <div class="imgBx active" style="--i:1;" data-id="content1">
                        <img src="images/image1.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:2;" data-id="content2">
                        <img src="images/image2.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:3;" data-id="content3">
                        <img src="images/image3.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:4;" data-id="content4">
                        <img src="images/image4.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:5;" data-id="content5">
                        <img src="images/image5.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:6;" data-id="content6">
                        <img src="images/image6.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:7;" data-id="content7">
                        <img src="images/image7.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:8;" data-id="content8">
                        <img src="images/image8.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:9;" data-id="content9">
                        <img src="images/image9.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:10;" data-id="content10">
                        <img src="images/image10.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:11;" data-id="content11">
                        <img src="images/image11.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:12;" data-id="content12">
                        <img src="images/image12.jpg" alt="">
                    </div>
                    <div class="imgBx" style="--i:13;" data-id="content13">
                        <img src="images/image13.jpg" alt="">
                    </div>

                </div>
                <div class="content">
                    <div class="contentBx active" id="content1">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic1.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Bernadine Paula Yu</h2><br><span>CEO/PRESIDENT</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content2">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic2.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>John Brandon Emnas</h2><br><span>TERRITORY MANAGER</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content3">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic3.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Francisco T. Natad</h2><br><span>Acounting Assistant</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content4">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic4.png" class="ian" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Ian Gill Nalda</h2><br><span>PURCHASER</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content5">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic5.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Joffet Ocena</h2><br><span>Canvaser</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content6">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic6.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Kem Kem Maceda</h2><br><span>Office Manager/Sales Coordinator</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content7">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic7.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Melanie Rose Bantilan</h2><br><span>Supervisor/Admin</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content8">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic8.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Lanie F.Villaflores,RPH</h2><br><span>Pharmacist</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content9">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic9.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Lemuel Colete</h2><br><span>Assistant Sales Staff/Delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content10">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic10.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Maricel G. Acedillo</h2><br><span>Territory Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content11">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic11.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Rammilyn Alcayde</h2><br><span>Canvaser</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content12">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic12.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Rowena Capor Enoy </h2><br><span>Territory Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentBx" id="content13">
                        <div class="card1">
                            <div class="imgBx">
                                <img src="images/pic13.png" alt="">
                            </div>
                            <div class="textBx">
                                <h2>Will L.Bacalso </h2><br><span>Liason/Company Driver</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="team">
                <h1>OUR TEAM</h1>
                <p><strong> Our team </strong>comprises of individuals with diverse expertise, including sales and
                    marketing, logistics,
                    procurement, customer service, and administration. Each team member brings valuable experience and
                    knowledge to the table, making our team well-equipped to serve our customers with
                    excellence.<br><br>
                    We are committed to providing the highest quality medical supplies and equipment to our customers,
                    which
                    include hospitals, clinics, pharmacies, and other healthcare facilities. Our team is known for its
                    exceptional customer service, prompt responsiveness, and attention to detail, ensuring that our
                    customers' needs are met efficiently and effectively.</p>
            </div>
        </div>
        <%- include('../partials/footer') %>
            <script>
                let imgBx = document.querySelectorAll('.imgBx');
                let contentBx = document.querySelectorAll('.contentBx');

                for (let i = 0; i < imgBx.length; i++) {
                    imgBx[i].addEventListener('mouseover', function () {
                        for (let i = 0; i < contentBx.length; i++) {
                            contentBx[i].className = 'contentBx';
                        }
                        document.getElementById(this.dataset.id).className = 'contentBx active';
                        for (let i = 0; i < imgBx.length; i++) {
                            imgBx[i].className = 'imgBx';
                        }
                        this.className = 'imgBx active';

                    })

                }

            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

</body>

</html>