.foot {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 158, 158)), url("https://media.istockphoto.com/id/1271118750/photo/hands-holding-a-red-heart-on-blue-background-csr-or-corporate-social-responsibility-health.jpg?s=612x612&w=0&k=20&c=wC4AcpzjHvbkZhq5jl9IRukoqPWTUI3dN_ZQZ1FPg7w=");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;


}

.foot a {
    text-decoration: none;
    color: rgba(115, 115, 115, 0.656);
}

.text {
    color: rgba(114, 114, 114, 0.79);

}

.text .footer-links {
    text-decoration: none;
}

.text .footer-links:hover {
    color: aliceblue;
}



.text .pmst {
    font-size: 20px;
    font-weight: 50px;
}

.text .pmst:hover {
    color: aliceblue;
}


.em a {
    margin-left: 1rem;
    color: rgba(108, 108, 108, 0.532);
}

.social-links {
    padding-right: 3rem;
    font-size: 20px;

}

.email {
    cursor: pointer;
}

.email:hover {
    color: aliceblue;
}

.cc {
    color: dimgrey;
    opacity: 0.3;

}

@media (max-width:768px) {
    .accordion-item .accordion-header .investment-img {
        width: 100px;

    }

}