<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paula Medical</title>

    <link rel="stylesheet" href="/stylesheet/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Heebo&family=Lato&family=Lora:wght@700&family=Montserrat:wght@100&family=Noto+Sans+JP:wght@200&family=Roboto+Mono&family=Signika+Negative:wght@500&family=Sofia+Sans+Condensed:wght@200&display=swap"
        rel="stylesheet">


</head>



<body>
    <%- include('../partials/nav') %>
        <div class="timeline">
            <h1 class="title">What we offer</h1>
            <div class="service-content">
                <div class="service-container right-container">
                    <img src="images/WC.png" alt="">
                    <div class="text-box">
                        <h2>Medical Supplies</h2>
                        <p>provision of various medical tools and equipment that are essential for proper diagnosis and
                            treatment of patients. Medical equipment can range from simple devices like stethoscopes and
                            blood pressure monitors to more complex equipment such as MRI machines, ventilators, and
                            dialysis machines.</p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>

                <div class="service-container left-container">
                    <img src="images/vaccine.png" alt="">
                    <div class="text-box">
                        <h2>Vaccines</h2>
                        <p>Vaccination is a process of administering vaccines to individuals in order to protect them
                            from a
                            particular disease. Vaccines stimulate the immune system to produce antibodies that provide
                            immunity against specific diseases, and this helps to prevent the spread of diseases in
                            populations.</p>
                        <span class="left-container-arrow"></span>
                    </div>
                </div>
                <div class="service-container right-container">
                    <img src="images/med.png" alt="">
                    <div class="text-box">
                        <h2>Regulated Drugs</h2>
                        <p>Regulated Drugs can be classified into two categories - generic and branded. Generic
                            medicines
                            are
                            identical copies of branded medicines that have the same active ingredients, dosage,
                            strength,
                            and intended use. Branded medicines, on the other hand, are developed and marketed by
                            pharmaceutical companies and have unique names, packaging, and formulations.</p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>
                <div class="service-container left-container">
                    <img src="images/maintain.png" alt="">
                    <div class="text-box">
                        <h2>Beauty & Wellness</h2>
                        <p>Beauty & Wellness is a multi-faceted industry that encompasses everything from skincare and
                            makeup to fitness and mental health. In today's fast-paced world, people are increasingly
                            looking for ways to maintain a healthy lifestyle and feel their best, both physically and
                            mentally.</p>
                        <span class="left-container-arrow"></span>
                    </div>
                </div>
                <div class="service-container right-container">
                    <img src="images/emergency.png" alt="">
                    <div class="text-box">
                        <h2>Emergency kits</h2>
                        <p>Emergency kits are pre-packaged sets of medical supplies and equipment that are designed to
                            provide critical care during emergency situations such as natural disasters, accidents, or
                            terrorist attacks. Emergency kits can include items such as bandages, antiseptics, splints,
                            defibrillators, and other life-saving equipment.</p>
                        <span class="right-container-arrow"></span>
                    </div>
                </div>

            </div>


        </div>


</body>

<%- include('../partials/footer') %>

</html>